.tick {
  background: green;
  color: #fff;
  font-size: 2rem;
  border-radius: 30%;
  padding: 5px;
  margin-top: 8px;
}
.card {
  border: solid #cfcccc 1px;
  margin: 10rem auto;
  width: 30rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 10px 10px #8080804a;
  padding: 1rem;
}
